In [1]:
import pandas as pd

In [2]:
amazon_products = pd.read_excel("search_history/SEARCH_HISTORY_2020-07-29 19h13m.xlsx", encoding="utf-8", errors="ignore")

In [3]:
display(amazon_products.shape)
amazon_products.head()

(80, 11)

,date,code,url,title,price,alert,review_score,review_count,buy_below,stock,rank
0,2020-07-29 19:13,snow_sled,https://www.amazon.com/ANYOYO-Outdoor-Toboggan...,ANYOYO Kids Outdoor Plastic Sport Toboggan Win...,NaN,NaN,4.2,14.0,10.0,Available,1
1,2020-07-29 19:13,airhead_classic_snow_sled,https://www.amazon.com/AIRHEAD-CLASSIC-Plastic...,Airhead Classic | 1-2 Person Snow Sled,NaN,NaN,4.5,429.0,10.0,Available,2
2,2020-07-29 19:13,slippery_racer_snow_sled,https://www.amazon.com/Slippery-Racer-Downhill...,Slippery Racer Downhill Xtreme Toboggan Snow Sled,NaN,NaN,4.6,368.0,30.0,Available,3
3,2020-07-29 19:13,flyer_611_snow_sled,https://www.amazon.com/Flexible-Flyer-Lightwei...,Flexible Flyer 611 Flying Carpet Lightweight R...,NaN,NaN,3.9,389.0,5.0,Available,4
4,2020-07-29 19:13,adudu_47_snow_sled,https://www.amazon.com/DUDU-Snow-Tube-Inflatab...,A-DUDU Snow Tube - Super Big 47 Inch Inflatabl...,27.99,NaN,NaN,NaN,20.0,Available,5

In [5]:
relevant_cols = ["code", "title", "price", "review_score", "review_count", "stock", "rank"]
amazon_products = amazon_products[relevant_cols]

In [6]:
display(amazon_products.shape)
amazon_products.head()

(80, 7)

,code,title,price,review_score,review_count,stock,rank
0,snow_sled,ANYOYO Kids Outdoor Plastic Sport Toboggan Win...,NaN,4.2,14.0,Available,1
1,airhead_classic_snow_sled,Airhead Classic | 1-2 Person Snow Sled,NaN,4.5,429.0,Available,2
2,slippery_racer_snow_sled,Slippery Racer Downhill Xtreme Toboggan Snow Sled,NaN,4.6,368.0,Available,3
3,flyer_611_snow_sled,Flexible Flyer 611 Flying Carpet Lightweight R...,NaN,3.9,389.0,Available,4
4,adudu_47_snow_sled,A-DUDU Snow Tube - Super Big 47 Inch Inflatabl...,27.99,NaN,NaN,Available,5

In [7]:
# add columns with 0 as default value
amazon_products["Snow Percentage"] = 0
amazon_products["Rain Percentage"] = 0

### First Range
# find all rows that fulfill your conditions and set percentage to 100
amazon_products.loc[(amazon_products["code"].str.contains("snow")) & # if item is for snow
        (amazon_products["rank"] == 1), # if rank is the specified value
       "Snow Percentage"] = 100 # then set percentage to 100
amazon_products.loc[(amazon_products["code"].str.contains("rain")) & # if item is for rain
        (amazon_products["rank"] == 1), # if rank is the specified value
       "Rain Percentage"] = 100 # then set percentage to 100

### Second Range
# find all rows that fulfill your conditions and set percentage to 80
amazon_products.loc[(amazon_products["code"].str.contains("snow")) & # if item is for snow
        (amazon_products["rank"] == 2), # if rank is the specified value
       "Snow Percentage"] = 80 # then set percentage to 80
amazon_products.loc[(amazon_products["code"].str.contains("rain")) & # if item is for rain
        (amazon_products["rank"] == 2), # if rank is the specified value
       "Rain Percentage"] = 80 # then set percentage to 80

### Third Range
# find all rows that fulfill your conditions and set percentage to 60
amazon_products.loc[(amazon_products["code"].str.contains("snow")) & # if item is for snow
        (amazon_products["rank"] == 3), # if rank is the specified value
       "Snow Percentage"] = 60 # then set percentage to 60
amazon_products.loc[(amazon_products["code"].str.contains("rain")) & # if item is for rain
        (amazon_products["rank"] == 3), # if rank is the specified value
       "Rain Percentage"] = 60 # then set percentage to 60

### Fourth Range
# find all rows that fulfill your conditions and set percentage to 40
amazon_products.loc[(amazon_products["code"].str.contains("snow")) & # if item is for snow
        (amazon_products["rank"] == 4), # if rank is the specified value
       "Snow Percentage"] = 40 # then set percentage to 40
amazon_products.loc[(amazon_products["code"].str.contains("rain")) & # if item is for rain
        (amazon_products["rank"] == 4), # if rank is the specified value
       "Rain Percentage"] = 40 # then set percentage to 40

### Fifth Range
# find all rows that fulfill your conditions and set percentage to 20
amazon_products.loc[(amazon_products["code"].str.contains("snow")) & # if item is for snow
        (amazon_products["rank"] == 5), # if rank is the specified value
       "Snow Percentage"] = 20 # then set percentage to 20
amazon_products.loc[(amazon_products["code"].str.contains("rain")) & # if item is for rain
        (amazon_products["rank"] == 5), # if rank is the specified value
       "Rain Percentage"] = 20 # then set percentage to 20

C:\Users\Allston.Fojas\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Allston.Fojas\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Allston.Fojas\Anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
display(amazon_products.shape)
amazon_products.head()

(80, 9)

,code,title,price,review_score,review_count,stock,rank,Snow Percentage,Rain Percentage
0,snow_sled,ANYOYO Kids Outdoor Plastic Sport Toboggan Win...,NaN,4.2,14.0,Available,1,100,0
1,airhead_classic_snow_sled,Airhead Classic | 1-2 Person Snow Sled,NaN,4.5,429.0,Available,2,80,0
2,slippery_racer_snow_sled,Slippery Racer Downhill Xtreme Toboggan Snow Sled,NaN,4.6,368.0,Available,3,60,0
3,flyer_611_snow_sled,Flexible Flyer 611 Flying Carpet Lightweight R...,NaN,3.9,389.0,Available,4,40,0
4,adudu_47_snow_sled,A-DUDU Snow Tube - Super Big 47 Inch Inflatabl...,27.99,NaN,NaN,Available,5,20,0

In [9]:
amazon_products.tail()

,code,title,price,review_score,review_count,stock,rank,Snow Percentage,Rain Percentage
75,columbia_watertight_mens_rain_jacket,Columbia Men's Watertight II Waterproof Rain J...,NaN,NaN,NaN,Available,1,0,100
76,baleaf_mens_rain_jacket,BALEAF Men's Rain Jacket Waterproof with Hoode...,NaN,NaN,NaN,Available,2,0,80
77,frogg_toggs_mens_rain_jacket,FROGG TOGGS Men's Ultra-Lite2 Waterproof Breat...,NaN,4.3,949.0,Available,3,0,60
78,swisswell_mens_rain_jacket,SWISSWELL Waterproof Windbreaker Rain Jacket M...,NaN,4.1,333.0,Available,4,0,40
79,north_face_mens_rain_jacket,The North Face Men's Resolve Waterproof Jacket,NaN,NaN,NaN,Available,5,0,20

In [ ]:
# snow = amazon_products[amazon_products["code"].str.contains("snow")]
# display(snow.shape)
# snow.head()

In [ ]:
# rain = amazon_products[amazon_products["code"].str.contains("rain")]
# display(rain.shape)
# rain.head()

In [ ]:
# # amazon_products.loc[df['code'].str.contains('snow'), 'is_snowing'] = True
# amazon_products["is_snow_product"] = amazon_products["code"].apply(lambda prod_code: True if "snow" in prod_code else False)
# amazon_products["is_rain_product"] = amazon_products["code"].apply(lambda prod_code: True if "rain" in prod_code else False)

In [ ]:
# display(amazon_products.shape)
# amazon_products.head()